<h2>Toolbar properties</h2>
<h3>Actions</h3>
<button mat-button (click)="toolbar.toggleIsSelectionMode()">Toggle selection mode</button>
<button mat-button (click)="toolbar.clearActionItems()">Clear action items</button>
<button mat-button color="warn" (click)="resetActionItems()">Reset to default action items</button>
<h4>Add action items</h4>
<form [formGroup]="addActionItemForm" fxLayout="column">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
    <mat-error>This is required.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Icon</mat-label>
    <input matInput formControlName="icon">
  </mat-form-field>
  <mat-checkbox formControlName="isOverflow">Mark as overflow action item</mat-checkbox>
  <div class="form-actions">
    <span fxFlex></span>
    <button mat-button color="warn" (click)="addActionItemForm.reset()">Reset</button>
    <button mat-raised-button color="primary" (click)="addActionItem()" [disabled]="addActionItemForm.invalid">Add action item</button>
  </div>
</form>
<br>
<h3>Info</h3>
<p>Is selection mode? {{ toolbar.isSelectionMode$ | async }}</p>
<p>Menu icon: {{ toolbar.menuIcon$ | async }}</p>
<p>Menu title: {{ toolbar.menuTitle$ | async }}</p>
<p>Action items:</p> <pre><code>{{ (toolbar.actionItems$ | async) | json }}</code></pre>
